body
{
background-color: #f6ff00;
}

h1{
    color:#00ff33 ;
    background-color: azure;
}

#show_sketch
{
    float: right;
}

canvas
{
    border:5px solid white;
    border-radius: 20px;
    animation-name:example ;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count: infinite;
}

@keyframes example
{
    from{box-shadow: 1px 1px 38px red;}
    to{box-shadow: 1px 1px 38px #2f00ff;}
}

p{
    padding-top: 10px;
    font-size: 25px;
}